.images{
    width: 150px;
  height: 150px;
  object-fit: cover;
}
.container {
    width: 250px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; 
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  .content{
    flex: 1;
  }